<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>caculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B76A4B321F75ABF600E7B6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B76A4B461F75ABF600E7B6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B76A4B511F75ABF700E7B6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
